:root {
  --main-color: #F9DBBB;
  --accent-color: #FF0303;
  --secondary-color: #4E6E81;
  --tertiary-color: #2E3840;
}

a {
  all: unset;
}
a:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}


body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 175px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-area";
  font-family: Roboto, sans-serif;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--secondary-color);
  color: white;
}
.sidebar > .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.sidebar > .logo > .logo-text {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
.sidebar > .navigation {
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: header;
  background-color: var(--main-color);
}

.main-area {
  grid-area: main-area;
  display: grid;
  grid-template-columns: clamp(300px, 600px, 75%) minmax(300px, 25%);
  grid-auto-rows: 200px;
  grid-template-areas:
    "projects-area side-area";
  background-color: var(--tertiary-color);
}
.main-area > .projects-area {
  grid-area: projects-area;
}
.main-area > .side-area {
  grid-area: side-area;
}

.main-area > .projects-area > .project {
  color: var(--accent-color)
}