:root {
  --main-color: #F9DBBB;
  --accent-color: #FF0303;
  --secondary-color: #4E6E81;
  --tertiary-color: #2E3840;
}

a {
  all: unset;
}
a:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 175px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-area";
  font-family: Roboto, sans-serif;
  transition: 0.2s;
  box-sizing: border-box;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;

  background-color: var(--secondary-color);
  color: white;
}
.sidebar > .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.sidebar > .logo > .logo-text {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
.sidebar > .navigation {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.sidebar > .navigation > .break {
  height: 40px;
}
.sidebar > .navigation > a {
  font-size: 18px;
  height: 40px;
  padding-left: 22.5px;

  display: flex;
  align-items: center;
  gap: 22.5px;
}
.sidebar > .navigation > a:hover {
  border-left: 4px solid var(--accent-color);
  padding-left: 18.5px;
}

.header {
  grid-area: header;
  background-color: var(--main-color);
}

.main-area {
  grid-area: main-area;
  display: grid;
  grid-template-columns: clamp(300px, 600px, 75%) minmax(300px, 25%);
  grid-auto-rows: 200px;
  grid-template-areas:
    "projects-area side-area";
  background-color: var(--tertiary-color);
}
.main-area > .projects-area {
  grid-area: projects-area;
}
.main-area > .side-area {
  grid-area: side-area;
}

.main-area > .projects-area > .project {
  color: var(--accent-color)
}